<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<header th:fragment="header">

		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav align-items-center">
						<li class="nav-item mx-5">
							<a class="nav-link active fs-4 fw-bolder" aria-current="page" th:href="@{/}">Best of</a>
						</li>
						<li class="nav-item mx-5">
							<a class="btn btn-outline-secondary" th:href="@{/movies}">Movies</a>
						</li>
						<li class="nav-item mx-5">
							<a class="btn btn-outline-secondary" th:href="@{/songs}">Songs</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</header>

</body>

</html>